body {
  padding: 30px;
  background-color: #111;
  display: flex;
}

#root {
  display: flex;
  gap: 20px;
  width: 100%;
}

.cmp-card {
  padding: 20px;
  background-color: orange;
  max-width: 230px;
  border-radius: 20px;
}

.cmp-card__top {
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    max-width: 30px;
    border-radius: 50%;
  }
}

.cmp-card__top__icon {
  a {
    width: 100%;
    display: block;
    cursor: pointer;
  }
}

h1 {
  color: white;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: pink;
  cursor: pointer;
}

.cmp-card-applied-by {
  p {
    text-decoration: dashed;
    color: black;
    font: 500 16px Arial;
    padding: 2px;
    margin-block: 2px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
  }
}
